/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: white;
}
ul, a{
    list-style: none;
    text-decoration: none;}

/* Landing Page style*/

.lp-body{
    padding: 9% 0;
    padding-bottom: 6% !important;
}
p{
    text-align: justify;
}
.logo{
    width: 40%;
}
.btn-container{
    width: 50%;
}

button{
    border: 2px solid #5BC0DE !important;
    background-color: transparent !important;
}
#addbook,#username{
    width: 8em;
    background-color: transparent;
    color: #5bc0de;
    padding: 0 5px;
    border: 2px solid #5bc0de;
    border-radius: 10px;
    background-image: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#addbook :hover,#username :hover{
    box-shadow: ;
}

.sign-in{
	background-image: none;
	border : 2px solid white;
}

a:hover > i{
    color: #ffffff;
}

/*sign forms style*/

form i{
    color: black;
    font-size: 1.4em;
    margin-right: 0.5em;}

.sign-form{
    padding: 1.6em;}

input{
    border: none !important;
    border-bottom: 2px solid rgb(31, 158, 238) !important;}


    /* Home page */

nav{
    background-color: rgb(20,24,51);
}
.home-body{
    background-color: rgb(14,14,35);
}
.w-90{
    width: 88%;
    height: 40%;
}

.red{
    border-bottom: 3px solid red !important;
}

.profile, .book{
    box-shadow: 3px 3px 30px rgba(100, 85, 85, 0.705) !important;
}

nav{
    border-bottom: 3px solid ;
    border-image: linear-gradient(to right, rgb(36, 1, 151), rgb(73, 146, 255)) 1;
}



/* scroll styling */
::-webkit-scrollbar {
    width: 5px;
  }
  
   /* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-image: linear-gradient(to bottom, rgb(5, 155, 255), rgba(0, 179, 255, 0)); 
}

  /* Handle */
  
